div.scroll_horizental {
    overflow-y: hidden;
}

.flow_text {
    height: 100%;
  background-color: #50b3ff;
  padding: 20px;
  border-radius: 10px;
}

.flow_text_body {
    min-height: 200px;
    height: 100%;
    background-color: white;
    border: 1px solid #50b3ff;
    border-radius: 10px ;
    padding: 15px;
    display: inline-block;
}

.flow_summary {
    min-height: 220px;
    min-width: 300px;
    margin: 15px;
    padding-top: 15px;
    border-radius: 10px;
    background-color: #0092f3;
}

.flow_summary_body {
    min-height: 130px;
    min-width: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    
}

.as_title {
    margin-inline: 8px;
}

.as_title:hover {
    text-decoration: underline;
    cursor: pointer;
}