.loginForm {
    margin: 15px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    white-space: pre-line;
    background-color: whitesmoke;
}

.welcomeUser {
    margin: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
}

.buttons {
    margin: 10px;
    text-align: center;
}