.publisher {
    margin-left: 5px;
}

.MainNews {
    border: 1px solid #95d6ff;
    border-radius: 5px;
    padding: 8px;
    min-height: 150px;
    
}

.newsKeyword {
    margin-left: 10px;
    margin-top: 10px
}

.category {
    margin-left: 5px;
    margin-top: 5px;
    color: gray;
    font-style: italic;
}

.titleButton {
    text-align: left;
    padding: 0;
    border: 0px;
    background-color: #95d6ff;
    
}

.titleButton:hover {
    text-decoration: underline;
}