.news_main {
    min-height: 250px;
    min-width: 300px;
    margin: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #95d6ff;
    border-radius: 5px;
    white-space: pre-line;
    background-color: #95d6ff;
}

.login_main {
    min-height: 200px;
    min-width: 300px;
    margin: 15px;
    border-radius: 5px;
    background-color: #50b3ff;
}

.stock_main {
    min-height: 250px;
    min-width: 630px;
    margin: 15px;
    border: 2px solid #50B3FF;
    border-radius: 15px;
    background-color:white;
}

.stock_title {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-bottom: 2px solid #50B3FF;
}

.stock_title_text {
    margin-bottom: 5px;
    font-size: 28px;
    font-weight: bold;
    color: #0073e5;
}

.moveToStock{
    color: #0073e5;
}

.moveToStock:hover {
    cursor: pointer;
}

.loading_main {
    height: 60vh;
    line-height: 60vh;
    text-align: center;
}