
/*body*/
.simulMainBody {
    position: relative;
    height: 440px;
}

.simulMainBody > ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.simulMainBody_div {
    position: relative;
    height: 44px;
}

.simulMainBody_a {
    text-decoration: none;
    color: black;
}

.simulMainBody_a > div {
    float: left;
    padding: 10px 0px;
    font-weight: 1000;
    overflow: hidden;
}

.simulMainBodyStockId {
    width: 90px;
}

.simulMainBodyStockName {
    width: 240px;
}

.simulMainBodyStockName:hover {
    text-decoration: underline;
}

.simulMainBodyStockPrice {
    width: 90px;
    text-align: right;
}

.simulMainBodyStockDifferent {
    width: 90px;
    text-align: right;
}

.simulMainBodyStockRange {
    width: 90px;
    text-align: right;
}


.simulMainBody_li:nth-child(2n-1) {
    background-color: white;
}

.simulMainBody_li:nth-child(2n) {
    background-color: rgb(245, 245, 245);
}

.simulMainBody_li:hover {
    background-color: rgb(200, 200, 200);
}