
/*result*/
.simulSearchResult {
    position: absolute;
    z-index: 1;
    background-color: #9bccfb;
    width: 500px;
    height: auto;
    border-radius: 20px 20px 10px 10px;
    padding: 10px;
}

.simulSearchResult > ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.simulSearchResultFrame {
    position: relative;
    height: 55px;
}

.simulSearchResult_li:nth-child(2n -1){
    background-color: white;
}

.simulSearchResult_li:nth-child(2n) {
    background-color: rgb(245, 245, 245);
}

.simulSearchResult_li:hover{
    background-color: rgb(200, 200, 200);
}

.simulSearchResult_div {
    position: relative;
    height: 50px;
}

.simulSearchResult_a {
    text-decoration: none;
    color: black;
}

.simulSearchResult_a > div {
    float: left;
    padding: 13px 0px;
    font-weight: 1000;
    overflow: hidden;
}

.simulSearchResultId {
    width: 100px;
}

.simulSearchResultName {
    width: 300px;
}

.simulSearchResultMarket {
    width: 80px;
}

/* 초기 구상 계획2 - 지워도 무방
.searchResult {
    position: relative;
    z-index: 1;
    background-color: #9bccfb;
    width: 340px;
    height: auto;
    border-radius: 20px 20px 10px 10px;
    padding: 10px;
}

.searchResult > ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.frame {
    position: relative;
    height: 55px;
}

.result {
    position: relative;
    height: 50px;
}

.result:nth-child(2n) {
    background-color: white;
}

.result:nth-child(2n-1) {
    background-color: rgb(240, 240, 240);
}

.result:hover {
    background-color: rgb(200, 200, 200);
}


초기 구상 계획1 - 지워도 무방
.result1 {
    position: relative;
    z-index: 5;
    background-color: blueviolet;
    border: 1px solid black;
    height: 100px;
}.result2 {
    position: relative;
    z-index: 5;
    background-color: blueviolet;
    border: 1px solid black;
    height: 100px;
}.result3 {
    position: relative;
    z-index: 5;
    background-color: blueviolet;
    border: 1px solid black;
    height: 100px;
}.result4 {
    position: relative;
    z-index: 5;
    background-color: blueviolet;
    border: 1px solid black;
    height: 100px;
}.result5 {
    position: relative;
    z-index: 5;
    background-color: blueviolet;
    border: 1px solid black;
    height: 100px;
}.result6 {
    position: relative;
    z-index: 5;
    background-color: blueviolet;
    border: 1px solid black;
    height: 100px;
}*/ 