.Simul_status{
    background-color: #3eb7ff;
    border-radius: 5px;
    width: 340px;
    height: 550px;
    padding: 20px;
}

.simulStatusHeader {
    height: 70px;
}

.simulStatusHeaderBar {
    position: relative;
}

.simulStatusTitle {
    height: 35px;
    font-size: 25px;
    float: left;
}

.simulStatusReset {
    height: 35px;
}

.simulStatusResetBtn {
    height: 35px;
    float: right;
}

.simulStatusUsername {
    font-size: large;
    height: 27px;
}

.simulStatusHeaderLine {
    border: 1px solid black;
}

.simulStatusUser_a {
    text-decoration: none;
}

.simulStatusUser_a > div {
    position: relative;
    height: 25px;
    font-weight: 1000;
    color: black;
    cursor: pointer;
}

.simulStatusUser {
    background-color: white;
    height: 50px;
}

.simulStatusInfo {
    margin-top: 20px;
    background-color: white;
    height: 100px;
}

.simulStatusInfo_ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}