
/*list*/
.simulStatusList {
    background-color: white;
    margin-top: 20px;
    border-radius: 20px;
}
.simulStatusList_tableContainer {
    max-height: 210px;
    overflow: auto;
  }
  .simulStatusList_table{
   width: 350px;
   text-align: center;
  }
.simulStatusList_row{
    text-align: center;
}
.simulStatusList_title{
    color: #0092f3;
}
.simulStatusList_li > div {
    height: 25px;
}

.simulStatusList_li:nth-child(2n-1) {
    background-color: white;
}

.simulStatusList_li:nth-child(2n) {
    background-color: rgb(245, 245, 245);
}

.simulStatusList_li:hover {
    background-color: rgb(200, 200, 200);
}

.simulStatusList_div {
    height: 25px;
}

.simulStatusList_a {
    color: black;
    text-decoration: none;
}