.loginForm {
    margin: 15px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: whitesmoke;
}

.loginId {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.loginPw {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}

.loginButton {
    text-align: center;
    margin-bottom: 10px;
}

.button {
    width: 100px;
    border-radius: 5px;
}

.signup {
    text-align: center;
    text-decoration: underline;
}