.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.custom-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #9bccfb ;
}

.custom-table th,
.custom-table td {
  border: 2px solid#9bccfb ;
  padding: 8px;
}

.custom-table th {
  background-color:#2067d8 ;
}

.custom-table td:last-child {
  border-right: none;
}
.table-container {
  width: 1500px;
  height: 160px;
  display: flex;
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 100px;
}
.Article {
  border: 3px solid #9bccfb;
  padding: 100px;
  width: 700px;
  justify-content: center;
  margin-top: 180px;
  margin-left: 70px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.background1{
  background: #1c92d2;  /* fallback for old browsers */
}
.background2{
  background: white;  /* fallback for old browsers */
}
.news{

    border: 3px solid #9bccfb;
    padding: 200px;
    width: 300px;
    height: 80px;
    justify-content: center;
    margin-top: 90px;
    margin-left: 150px;
    margin-right: 20px;
    margin-bottom: 40px;
}
.news h1{
  position: absolute;
  top: 5px;
  left: 230px;
  transform: translateX(-50%);
  
}
.news-container {
  display: flex;
  gap: 20px;
}

.news-title {
  margin-top: -150px;
  margin-left: -120px;
  margin-bottom: 250px;
}

.news-description {
  margin-top: -100px;
  margin-left: -120px;
  margin-bottom: 20px;
}



.search-container {
  margin-left: 10px;
  margin-top: 600px;
}
.app {
  display: flex;
  flex-direction: column;
}

.news-search-container {
  display: flex;
  gap: 20px;
}
.table-buttons{
  margin-left: 80px;
  display: flex;
  gap: 50px;
}
.table-buttons button {
  width: 180px;
  height: 30px;
}
.table-buttons button.test {
  margin-left: 80px;
  background-color: #3eb7ff;
  border-radius: 10px;
}