.StockInvestDataHeader {
    border-radius: 5px;
    background: #0890ff;
    padding: 20px;
    height: 70%;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    min-width: 430px;
    min-height: 400px;
    align-items: center;
}
.StockInvestDataLeft {
    float: left;
    width: 45%;
    font-size: calc(14px + .5vw);
    min-height: 400px;
    display: inline-block;
    vertical-align: middle;

}
.StockInvestDataRight {
    float: right;
    width: 45%;
    font-size: calc(14px + .5vw);

}
.PDP {
    display: flex;
    justify-content: space-between;
}

.DL {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.WL {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.PER {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.PTB {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.MCP {
    display: flex;
    justify-content: space-between;
}

.DH {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.WH {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.DY {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}