.chartSearchBar {
    position: relative;
    float: left;
    height: 50px;
    width: 570px;
    z-index: 2;
    z-index: 2;
}

.chartSearchInputBar {
    border: 2px solid #50B3FF;
    height: 55px;
    width: 570px;
    padding: 10px;
    padding-right: 55px;
    border-radius: 15px;
    font-size: 1.3em;
}