.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.custom-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #9bccfb ;
}

.custom-table th,
.custom-table td {
  border: 2px solid#9bccfb ;
  padding: 8px;
}

.custom-table th {
  background-color:#2067d8 ;
}

.custom-table td:last-child {
  border-right: none;
}
.table-container {
  display: flex;
  margin-left: 70px;
}
.Article {
  border: 3px solid #9bccfb;
  padding: 100px;
  width: 700px;
  justify-content: center;
  margin-top: 180px;
  margin-left: 70px;
  margin-right: 20px;
  margin-bottom: 40px;
}
