.StockTradeScene {
    min-width: 1300px;
}

.Left {
    float: left;
    width: 60%;
}

.Right {
    float: right;
    width: 40%;
}

.StockSimilarCategory {
    margin-left: 30px;
    margin-top: 22px;
    margin-bottom: 20px;
    font-size: 25px;

}

.StockSimilarCategoryGroup {
    min-width: 700px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
}

.StockSimilarCategoryGroupFlex1 {
    flex: 1;
}

.StockSimilarCategoryGroupFlex2 {
    flex: 2;
}

.StockSimilarCategoryGroupFlex3 {
    flex: 3;
}

.StockSimilarCategoryGroupFlex4 {
    flex: 4;
}