.chartDetail{
  background-color: rgb(240, 240, 240);
  min-height: 120vh;
}
.ChartDetailTop{
  font-size: 40px;
  margin-top: 30px;
 margin-left: 300px;
 font-weight: 600;
 color: #0073e5;
}
.Article{
    margin-top: 40px;
    margin-left: 150px;
    height: 300px;
    width: 620px;
    background-color: #9bccfb;
}
 .Article li{
    font-size: 20px;
    margin-bottom: 15px;
 }



 .custom-table {
  width: 600px;
  margin-top: 50px;
  border-collapse: collapse;
  border: 1px solid;
  margin-left: 300px;
  background-color: #9bccfb;
}
  
  .custom-table th,
  .custom-table td {
    border: 2px solid#2067d8 ;
    padding: 8px;
  }
  
  .custom-table th {
    background-color:#2067d8 ;
  }
  
  .custom-table td:last-child {
    border-right: none;
  }
  .table-container {
    width: 800px;
    height: 160px;
    display: flex;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  
  .search-list {
    width: 700px;
    background-color: #9bccfb;
    margin-top: 10px;
    margin-left: 150px;
    position: relative;
  }
  
  
