.Rechart2{
  width: 600px;
  margin-top: 70px;
  margin-left: 100px;
}
.Rechart1{
  width: 600px;
  margin-left: 100px;
  margin-top: 30px;
}
.chartDetail{
  background-color: rgb(240, 240, 240);
  min-height: 120vh;
}
.ChartDetailTop{
  font-size: 40px;
 margin-left: 200px;
 font-weight: 600;
 color: #0073e5;
}
.Article{
  margin-top: 60px;
  margin-left: 130px;
  height: 250px;
  width: 550px;
  background-color: #CDF7FF;
}
.article-bottom{
border: 3px solid white;
background-color: white;
margin-bottom: 10px;
}
.Article li{
  font-size: 20px;
  margin-bottom: 15px;
}
.article-title{
margin-left: 20px;

top: 10px;
}
 .custom-table {
  width: 550px;
  margin-top: 20px;
  border-collapse: collapse;
  margin-left: 120px;
  text-align: center;
  
}
.custom-table th.divider,
.custom-table td.divider {
  border-right: 2px solid white;
}

.custom-table th:last-child,
.custom-table td:last-child {
  border-right: none; 
}
  .custom-table th
  {
    padding: 8px;
    background-color: #50b3ff;    
    color: white;
  }
  .custom-table td{
    padding: 8px;
  }

  
  .search-list {
    width: 700px;
    background-color: #9bccfb;
    margin-top: 10px;
    margin-left: 150px;
    position: relative;
  }

  .ModalTop{
    display: flex;
    align-items: center;
  }
  .ModalMove{
    margin-top: 30px;
    margin-left: 20px;
    color:white;
    font-size: 20px;
  }
  .ModalClose{
    margin-top: 30px;
    margin-left: 470px;
    color:white;
    font-size: 20px;
  }
  .Modal_main h2{
    margin-top: 40px;
    margin-left: 90px;
    color:white;
  }
  .Custom{
    background-color: #95D6FF; 
  }
  .CustomOverlay {
    background-color: rgba(0, 0, 0, 0); 
  }
  .ReactModal__Content.Custom {
    top: 0;
    left: 50%;
    right: auto;
    bottom: auto;
    transform:  translate(110%, -100%);
    width: 700px;
    height: 800px;
  }
  .ModalBox{
    background-color: white;
    width: 500px;
    height: 530px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 20px;
  }
  .ModalText{
    margin-left: 10px;
    font-size: 20px;
    margin-top: 30px;
  }

  
